<header class="header-area mobile-header-padding transparent-bar section-padding-1">
	<div class="header-large-device d-none d-lg-block">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-xl-2 col-lg-2">
					<div class="logo">
						<a href="#">
							<img class="lazyload" data-src="images/logo1.png" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-xl-7 col-lg-7">
					<div class="main-menu menu-line-height-1 main-menu-negative-mrg">
						<nav>
							<ul>
								<li><a href="index.html">Главная</a></li>
								<li><a href="shop.html">Услуги <i class="ion-ios-arrow-down"></i></a>
									<ul class="mega-menu-style-1 mega-menu-width2 menu-negative-mrg2 mega-menu-style-1-padding2">
										<li class="mega-menu-sub-width33"><a class="menu-title" href="#">Для бизнеса</a>
											<ul>
												<li><a href="shop.html">Наименование категории</a></li>
												<li><a href="shop-grid-2.html">Наименование категории</a></li>
												<li><a href="shop-grid-3.html">Наименование категории</a></li>
												<li><a href="shop-grid-4.html">Наименование категории</a></li>
												<li><a href="shop-categories.html">Наименование категории</a></li>
												<li><a href="shop-list.html">Наименование категории</a></li>
											</ul>
										</li>
										<li class="mega-menu-sub-width33"><a class="menu-title" href="#">Для бизнеса</a>
											<ul>
												<li><a href="shop.html">Наименование категории</a></li>
												<li><a href="shop-grid-2.html">Наименование категории</a></li>
												<li><a href="shop-grid-3.html">Наименование категории</a></li>
												<li><a href="shop-grid-4.html">Наименование категории</a></li>
												<li><a href="shop-categories.html">Наименование категории</a></li>
												<li><a href="shop-list.html">Наименование категории</a></li>
											</ul>
										</li>
										<li class="mega-menu-sub-width33"><a class="menu-title" href="#">Для бизнеса</a>
											<ul>
												<li><a href="shop.html">Наименование категории</a></li>
												<li><a href="shop-grid-2.html">Наименование категории</a></li>
												<li><a href="shop-grid-3.html">Наименование категории</a></li>
												<li><a href="shop-grid-4.html">Наименование категории</a></li>
												<li><a href="shop-categories.html">Наименование категории</a></li>
												<li><a href="shop-list.html">Наименование категории</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="index.html">О компании</a></li>
								<li><a href="index.html">Новости</a></li>
								<li><a href="index.html">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3">
					<div class="header-action-wrap">
						<div class="header-action-login-signup">
							<a href="#">(351) 232-72-03</a>                                    
						</div>
						<div class="header-action-wrap">
							<div class="mobile-menu">
								<a class="mobile-menu-active-button" href="#"><i class="ion-navicon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>