<!-- Mobile Menu start -->
<div class="off-canvas-active">
	<a class="off-canvas-close"><i class="ion-android-close"></i></a>
	<div class="off-canvas-wrap">
		<div class="mobile-menu-wrap mrg-padding-border-none">
			<div id="mobile-menu" class="slinky-mobile-menu text-left">
				<ul>
					<li>
						<a href="#">HOME</a>
						<ul>
							<li><a href="index.html">Home Default</a></li>
							<li><a href="index-boxed.html">Home Boxed</a></li>
							<li><a href="index-shoes-v1.html">Home Shoes </a></li>
							<li><a href="index-bag.html">Home Bag </a></li>
							<li><a href="index-cosmetic-1.html">Home Cosmetic V1 </a></li>
							<li><a href="index-cosmetic-2.html">Home Cosmetic V2 </a></li>
							<li><a href="index-cosmetic-3.html">Home Cosmetic V3 </a></li>
							<li><a href="index-fashion-studio.html">Home Fashion Studio</a></li>
							<li><a href="index-app-landing.html">Home App Landing</a></li>
							<li><a href="index-selling-single-a-product.html">Home Single Product</a></li>
						</ul>
					</li>
					<li>
						<a href="#">SHOP</a>
						<ul>
							<li>
								<a href="#">Shop Layout</a>
								<ul>
									<li><a href="shop.html">Shop Grid Style 1</a></li>
									<li><a href="shop-grid-2.html">Shop Grid Style 2</a></li>
									<li><a href="shop-grid-3.html">Shop Grid Style 3</a></li>
									<li><a href="shop-grid-4.html">Shop Grid Style 4</a></li>
									<li><a href="shop-categories.html">Shop Grid Style 5</a></li>
									<li><a href="shop-list.html">Shop Listing</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Product Types</a>
								<ul>
									<li><a href="product-details.html">Product Simple</a></li>
									<li><a href="product-details-variable.html">Product Variable</a></li>
									<li><a href="product-details-group.html">Product Groupped</a></li>
									<li><a href="product-details-affilate.html">Product Affilate</a></li>
									<li><a href="product-details-out-of-stock.html">Product Out Of Stock</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">CATEGORIES </a>
						<ul>
							<li>
								<a href="#">Clothings</a>
								<ul>
									<li><a href="shop.html">Bed Pillows</a></li>
									<li><a href="shop.html">Sheets</a></li>
									<li><a href="shop.html">Jeckets Coats</a></li>
									<li><a href="shop.html">Bedding Sets</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Shoes</a>
								<ul>
									<li><a href="shop.html">Boots</a></li>
									<li><a href="shop.html">Oxfords</a></li>
									<li><a href="shop.html">Sandals</a></li>
									<li><a href="shop.html">Sneakers</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Bags</a>
								<ul>
									<li><a href="shop.html">Game</a></li>
									<li><a href="shop.html">Office</a></li>
									<li><a href="shop.html">Patio</a></li>
									<li><a href="shop.html">Sports</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Hats</a>
								<ul>
									<li><a href="shop.html">Beer Glasses</a></li>
									<li><a href="shop.html">Cocktail Glasses</a></li>
									<li><a href="shop.html">Cowboy</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Accessories</a>
								<ul>
									<li><a href="shop.html">Belts</a></li>
									<li><a href="shop.html">Gloves Mittens</a></li>
									<li><a href="shop.html">Neckwear</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="shop-onsale.html">BLOG </a>
						<ul>
							<li><a href="blog.html">Left Sidebar</a></li>
							<li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="blog-no-sidebar.html">Grid No Sidebar</a></li>
							<li><a href="blog-list-style.html">Blog Listing</a></li>
							<li><a href="blog-masonry.html">Blog Masonry </a></li>
							<li><a href="blog-details.html">Blog Details </a></li>
							<li><a href="blog-details-sidebar.html">Blog Details with sidebar </a></li>
						</ul>
					</li>
					<li>
						<a href="#">PAGES</a>
						<ul>
							<li>
								<a href="#">Commons</a>
								<ul>
									<li><a href="about-us.html">About</a></li>
									<li><a href="about-us-2.html">About v2</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="contact-us-2.html">Contact Us v2</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="404.html">404 Page</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Portfolio</a>
								<ul>
									<li><a href="portfolio-grid.html">Portfolio Grid</a></li>
									<li><a href="portfolio-free-style.html">Portfolio Free Style</a></li>
									<li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
									<li><a href="portfolio-details.html">Portfolio Single Gallery</a></li>
									<li><a href="portfolio-details-2.html">Portfolio Single Image</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Shop Pages</a>
								<ul>
									<li><a href="my-account.html">My Account</a></li>
									<li><a href="checkout.html">Check Out</a></li>
									<li><a href="cart.html">Shopping Cart</a></li>
									<li><a href="wishlist.html">Wishlist</a></li>
									<li><a href="order-tracking.html">Order Tracking</a></li>
									<li><a href="login-register.html">Login Register</a></li>
									<li><a href="compare.html">Compare </a></li>
								</ul>
							</li>
							<li>
								<a href="#">Product Layout</a>
								<ul>
									<li><a href="product-details.html">Product Layout 1</a></li>
									<li><a href="product-layout-2.html">Product Layout 2</a></li>
									<li><a href="product-layout-3.html">Product Layout 3</a></li>
									<li><a href="product-layout-4.html">Product Layout 4</a></li>
									<li><a href="product-layout-5.html">Product Layout 5</a></li>
									<li><a href="product-layout-6.html">Product Layout 6</a></li>
									<li><a href="product-layout-7.html">Product Layout 7</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>