@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
.slider-bg-color-1 {
    background: -webkit-gradient(linear, left top, right top, from(#00510B), color-stop(71.4%, #00510B), color-stop(0%, #18112E));
    background: -webkit-linear-gradient(left, #00510B, #00510B 71.4%, #18112E 0%);
    background: -o-linear-gradient(left, #00510B, #00510B 71.4%, #18112E 0%);
    background: linear-gradient(to right, #00510B, #00510B 71.4%, #18112E 0%);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}
@media only screen and (min-width: 767px) and (max-width: 1199px) {

}
@media only screen and (max-width: 767px) {

}



