extends base.pug
block content
	<div class="slider-area section-padding-1">
		<div class="slider-active-2 swiper-container pagination-wrap-1">
			<div class="swiper-wrapper">
				<div class="swiper-slide slider-bg-color-1 slider-height-1 slider-content-center single-animation-wrap">
					<div class="container-fluid">
						<div class="slider-content-1 slider-animated-1">
							<span class="animated">Защита плюс</span>
							<h1 class="animated">Защита <br>любых объектов</h1>
							<p class="animated">Мы предлагаем услуги комплексной охраны и гарантируем безопасность объектов и физических лиц. </p>
							<div class="btn-style-2">
								<a class="animated" href="shop.html">Услуги <i class="ion-android-arrow-forward"></i></a>
							</div>
							<div class="slider-position-text">
								<h2 class="animated">Защита плюс</h2>
							</div>
							<div class="slider-img-1">
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide slider-bg-color-2 slider-height-1 slider-content-center single-animation-wrap">
					<div class="container-fluid">
						<div class="slider-content-1 slider-animated-1">
							<span class="animated">Защита плюс</span>
							<h1 class="animated">Защита <br>любых объектов</h1>
							<p class="animated">Мы предлагаем услуги комплексной охраны и гарантируем безопасность объектов и физических лиц. </p>
							<div class="btn-style-2">
								<a class="animated" href="shop.html">Услуги <i class="ion-android-arrow-forward"></i></a>
							</div>
							<div class="slider-position-text">
								<h2 class="animated">Защита плюс</h2>
							</div>
							<div class="slider-img-1">
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="swiper-pagination pagination-style-1"></div>
		</div>
		<div class="season-text">
			<span>Работаем с 2000 года</span>
		</div>
	</div>